<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="automatic" value="True" />
		<add key="enabled" value="True" />
	</packageRestore>
	<config>
		<add key="globalPackagesFolder" value="D:\N" />
		<add key="repositoryPath" value="D:\NC" />
	</config>
</configuration>